<script id='facet-filters-template' type='text/x-handlebars-template'>
    {{#each this}}
    <span class="selected-facet-values">
                <span class="facet-filter-label">{{name}}</span>
            {{#each values}}
                <span class="selected-facet-value"><span class="facet-filter-value">{{value}}</span><span class="drop-facet" data-facet-id="{{id}}">✕</span></span>
            {{/each}}
            </span>
    {{/each}}
</script>