<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/util
                           http://www.springframework.org/schema/util/spring-util-2.5.xsd">

    <bean id="parserManager" class="uk.ac.ebi.biostudies.api.util.parser.ParserManager" scope="prototype">
        <property name="allParsers">
        <list value-type="uk.ac.ebi.biostudies.api.util.parser.AbstractParser">
            <ref bean="idParser" />
            <ref bean="secKeyParser" />
            <ref bean="accessionParser" />
            <ref bean="typeParser" />
            <ref bean="fileCounter" />
            <ref bean="linkCounter" />
            <ref bean="accessParser" />
            <ref bean="projectParser" />
            <ref bean="contentParser" />
            <ref bean="dateParser" />
            <ref bean="titleParser" />
            <ref bean="authorParser" />
            <ref bean="orcidParser" />
            <ref bean="linkTypeParser" />
            <ref bean="linkValueParser" />
            <ref bean="fileTypeParser" />
            <ref bean="generalWithoutPathParser" />
            <ref bean="generalWithPathParser" />
        </list>
        </property>
    </bean>

    <bean id="idParser" class="uk.ac.ebi.biostudies.api.util.parser.SimpleStudyParser">
        <property name="indexFieldKey" value="id"/>
        <property name="jsonFieldKey" value="accno"/>
        <property name="toLowerCase" value="false"/>
    </bean>
    <bean id="secKeyParser" class="uk.ac.ebi.biostudies.api.util.parser.SimpleStudyParser">
        <property name="indexFieldKey" value="seckey"/>
        <property name="jsonFieldKey" value="seckey"/>
        <property name="toLowerCase" value="false"/>
    </bean>
    <bean id="accessionParser" class="uk.ac.ebi.biostudies.api.util.parser.SimpleStudyParser">
        <property name="indexFieldKey" value="accession"/>
        <property name="jsonFieldKey" value="accno"/>
        <property name="toLowerCase" value="false"/>
    </bean>
    <bean id="typeParser" class="uk.ac.ebi.biostudies.api.util.parser.JPathSimpleParser">
        <property name="indexFieldKey"><util:constant static-field="uk.ac.ebi.biostudies.api.util.Constants.Fields.TYPE" /></property>
        <property name="jsonFieldKey"><util:constant static-field="uk.ac.ebi.biostudies.api.util.Constants.Fields.TYPE" /></property>
        <property name="toLowerCase" value="true"/>
    </bean>
    <bean id="fileCounter" class="uk.ac.ebi.biostudies.api.util.parser.NodeCounter">
        <property name="indexFieldKey"><util:constant static-field="uk.ac.ebi.biostudies.api.util.Constants.Fields.FILES" /></property>
        <property name="jsonFieldKey"><util:constant static-field="uk.ac.ebi.biostudies.api.util.Constants.Fields.FILES" /></property>
        <property name="toLowerCase" value="false"/>
    </bean>
    <bean id="linkCounter" class="uk.ac.ebi.biostudies.api.util.parser.NodeCounter">
        <property name="indexFieldKey"><util:constant static-field="uk.ac.ebi.biostudies.api.util.Constants.Fields.LINKS" /></property>
        <property name="jsonFieldKey"><util:constant static-field="uk.ac.ebi.biostudies.api.util.Constants.Fields.LINKS" /></property>
        <property name="toLowerCase" value="false"/>
    </bean>
    <bean id="accessParser" class="uk.ac.ebi.biostudies.api.util.parser.JPathListParser">
        <property name="indexFieldKey"><util:constant static-field="uk.ac.ebi.biostudies.api.util.Constants.Fields.ACCESS" /></property>
        <property name="jsonFieldKey"><util:constant static-field="uk.ac.ebi.biostudies.api.util.Constants.Fields.ACCESS" /></property>
        <property name="toLowerCase" value="true"/>
    </bean>
    <bean id="projectParser" class="uk.ac.ebi.biostudies.api.util.parser.JPathListParser">
        <property name="indexFieldKey"><util:constant static-field="uk.ac.ebi.biostudies.api.util.Constants.Facets.PROJECT" /></property>
        <property name="jsonFieldKey"><util:constant static-field="uk.ac.ebi.biostudies.api.util.Constants.Facets.PROJECT" /></property>
        <property name="toLowerCase" value="true"/>
    </bean>
    <bean id="contentParser" class="uk.ac.ebi.biostudies.api.util.parser.ContentParser">
        <property name="indexFieldKey"><util:constant static-field="uk.ac.ebi.biostudies.api.util.Constants.Fields.CONTENT" /></property>
        <property name="jsonFieldKey"><util:constant static-field="uk.ac.ebi.biostudies.api.util.Constants.Fields.CONTENT" /></property>
        <property name="toLowerCase" value="false"/>
    </bean>
    <bean id="dateParser" class="uk.ac.ebi.biostudies.api.util.parser.DateParser">
        <property name="indexFieldKey"><util:constant static-field="uk.ac.ebi.biostudies.api.util.Constants.Fields.RELEASE_DATE" /></property>
        <property name="jsonFieldKey"><util:constant static-field="uk.ac.ebi.biostudies.api.util.Constants.Fields.RELEASE_DATE" /></property>
        <property name="toLowerCase" value="false"/>
    </bean>
    <bean id="titleParser" class="uk.ac.ebi.biostudies.api.util.parser.TitleParser">
        <property name="indexFieldKey"><util:constant static-field="uk.ac.ebi.biostudies.api.util.Constants.Fields.TITLE" /></property>
        <property name="jsonFieldKey"><util:constant static-field="uk.ac.ebi.biostudies.api.util.Constants.Fields.TITLE" /></property>
        <property name="toLowerCase" value="false"/>
    </bean>
    <bean id="authorParser" class="uk.ac.ebi.biostudies.api.util.parser.JPathListParser">
        <property name="indexFieldKey"><util:constant static-field="uk.ac.ebi.biostudies.api.util.Constants.Fields.AUTHOR" /></property>
        <property name="jsonFieldKey"><util:constant static-field="uk.ac.ebi.biostudies.api.util.Constants.Fields.AUTHOR" /></property>
        <property name="toLowerCase" value="false"/>
    </bean>
    <bean id="orcidParser" class="uk.ac.ebi.biostudies.api.util.parser.JPathListParser">
        <property name="indexFieldKey"><util:constant static-field="uk.ac.ebi.biostudies.api.util.Constants.Fields.ORCID" /></property>
        <property name="jsonFieldKey"><util:constant static-field="uk.ac.ebi.biostudies.api.util.Constants.Fields.ORCID" /></property>
        <property name="toLowerCase" value="false"/>
    </bean>
    <bean id="linkTypeFacetParser" class="uk.ac.ebi.biostudies.api.util.parser.JPathListParser">
        <property name="indexFieldKey"><util:constant static-field="uk.ac.ebi.biostudies.api.util.Constants.Facets.LINK_TYPE" /></property>
        <property name="jsonFieldKey"><util:constant static-field="uk.ac.ebi.biostudies.api.util.Constants.Facets.LINK_TYPE" /></property>
        <property name="toLowerCase" value="false"/>
    </bean>
    <bean id="fileTypeParser" class="uk.ac.ebi.biostudies.api.util.parser.FileTypeParser">
        <property name="indexFieldKey"><util:constant static-field="uk.ac.ebi.biostudies.api.util.Constants.Facets.FILE_TYPE" /></property>
        <property name="jsonFieldKey"><util:constant static-field="uk.ac.ebi.biostudies.api.util.Constants.Facets.FILE_TYPE" /></property>
        <property name="toLowerCase" value="false"/>
    </bean>
    <bean id="linkTypeParser" class="uk.ac.ebi.biostudies.api.util.parser.JPathListParser">
        <property name="indexFieldKey"><util:constant static-field="uk.ac.ebi.biostudies.api.util.Constants.Fields.LINK_TYPE" /></property>
        <property name="jsonFieldKey"><util:constant static-field="uk.ac.ebi.biostudies.api.util.Constants.Fields.LINK_TYPE" /></property>
        <property name="toLowerCase" value="true"/>
    </bean>
    <bean id="linkValueParser" class="uk.ac.ebi.biostudies.api.util.parser.JPathListParser">
        <property name="indexFieldKey"><util:constant static-field="uk.ac.ebi.biostudies.api.util.Constants.Fields.LINK_VALUE" /></property>
        <property name="jsonFieldKey"><util:constant static-field="uk.ac.ebi.biostudies.api.util.Constants.Fields.LINK_VALUE" /></property>
        <property name="toLowerCase" value="true"/>
    </bean>
    <bean id="generalWithPathParser" class="uk.ac.ebi.biostudies.api.util.parser.JPathListParser">
        <property name="indexFieldKey" value="generalWithPathParser"/>
        <property name="jsonFieldKey"  value="generalWithPathParser"/>
        <property name="toLowerCase" value="false"/>
    </bean>
    <bean id="generalWithoutPathParser" class="uk.ac.ebi.biostudies.api.util.parser.SimpleAttributeParser">
        <property name="indexFieldKey" value="generalWithoutPathParser"/>
        <property name="jsonFieldKey"  value="generalWithoutPathParser"/>
        <property name="toLowerCase" value="false"/>
    </bean>

</beans>