<script id='main-file-table' type='text/x-handlebars-template'>
    <section>
        <div id="file-list-container">
            <div class="table-caption">
                <span class="widge-title"><i class="fa fa-download"></i> Data files</span>
                <span class="fa-icon table-expander" id="all-files-expander" title="Click to expand"><i class="fa fa-expand"></i></span>
            </div>
            <div class="table-wrapper">
                <table id="file-list" class="stripe compact hover" width="100%">
                </table>
                <div class="filetoolbar">
                    <a class="section-button" id="download-selected-files">Download <span id="selected-file-count">0</span> selected files</a>
                    <div class="reveal large" id="batchdl-popup" data-reveal></div>
                </div>
            </div>
        </div>
    </section>
</script>

<script id='batchdl-template' type='text/x-handlebars-template'>
    <div class='reveal-modal' id='first-modal' data-reveal>
        <div class="row">
          <div class="columns">
            <h2>Download files</h2>
            <p>You can choose to download the selected files either as a zipper archive over HTTP or via our FTP/Aspera server by clicking on the left menu below. </p>
          </div>
        </div>

        <div class="row collapse">
          <div class="medium-3 columns">
            <ul class="vertical tabs" data-tabs id="download-files-tabs">
              <li class="tabs-title is-active"><a href="#via-http" onclick="event.preventDefault();" aria-selected="true"> HTTP</a></li>
              <li class="tabs-title"><a href="#via-ftp" onclick="event.preventDefault();">FTP</a></li>
              <li class="tabs-title"><a href="#via-aspera" onclick="event.preventDefault();">Aspera</a></li>
            </ul>
          </div>
          <div class="medium-9 columns">
            <div class="tabs-content" data-tabs-content="download-files-tabs">
              <div class="tabs-panel is-active" id="via-http">
                <p>Click the button below to download the selected files as a zipped archive. </p>
                <input class="button" type="button" value="Download"/>
              </div>
              <div class="tabs-panel" id="via-ftp">
                 <p>
                  <ol>
                    <li>Click the button below to download the script and save it to the folder where you want to download your files.</li>
                    <li>Press Windows key+R, type <code>cmd</code> and press <b>Enter</b> </li>
                    <li>Run downloaded script file in cmd with this command: ftp -i -s:./ftp-windows.sh</li>
                  </ol>
                </p>
                <input class="button" type="button" value="Download"/>
              </div>
              <div class="tabs-panel" id="via-aspera">
                 <p>
                  <ol>
                    <li>Click the button below to download the script and save it to the folder where you want to download your files.</li>
                    <li>Edit this script and change default directory address of <b>asperaweb_id_dsa.openssh</b> with the directory that you have installed your Aspera client</li>
                    <li>Press Windows key+R, type <code>cmd</code> and press <b>Enter</b> </li>
                    <li>Run script from command line </li>
                  </ol>
                </p>
                <input class="button" type="button" value="Download"/>
              </div>
            </div>
          </div>
        </div>
    </div>
</script>