<script id='main-file-table' type='text/x-handlebars-template'>
    <section>
        <div id="file-list-container">
            <div class="table-caption">
                <span class="widge-title"><i class="fa fa-download"></i> Data files</span>
                <span class="fa-icon table-expander" id="all-files-expander" title="Click to expand"><i class="fa fa-expand"></i></span>
            </div>
            <div class="table-wrapper">
                <table id="file-list" class="stripe compact hover" width="100%">
                </table>
                <div class="filetoolbar">
                    <a class="section-button" id="download-selected-files">Download <span id="selected-file-count">0</span> selected files</a>
                    <div id="detail-dl" class=" hidden callout">
                        <div> &nbsp;&nbsp;<a class="" id="normal-dl"> normal </a> </div>
                        <div> &nbsp;&nbsp;<a class="" id="ftp-dl"> ftp </a> </div>
                        <div> &nbsp;&nbsp;<a class="" id="aspera-dl"> aspera </a> </div>
                    </div>

                </div>
                <!--div>
                    <span id="selected-file-text"></span><a id="download-selected-files">Download all</a>
                </div-->
            </div>
        </div>
    </section>
</script>