<script id='secret-template' type='text/x-handlebars-template'>
    <button class="close-button" data-close aria-label="Close modal" type="button">
        <span aria-hidden="true">&times;</span>
    </button>
    <h2>Share Study</h2>
    <p class="large-centered">
        You can share this study to be accessed without requiring any credentials using the URL below. <br/>
        Please note that all personal information will be visible to the viewer.
    </p>
    <p><a id="secret-link" href="{{url}}">{{url}}</a>
    <div><span id="secret-copied">Copied!</span>&nbsp;</div>
    <a id="copy-secret" class="button small" href="#">Copy to Clipboard</a><br/>
    </p>
</script>