<script id='valqual-template' type='text/x-handlebars-template'>{{#ifArray this}}{{&renderOntologySubAttribute this}}{{#eachSubAttribute this}}
{{#if @first}}<span class="sub-attribute-info"><i class="fa fa-info-circle"></i></span><span class="sub-attribute">{{/if}}
                    <span class="sub-attribute-title">{{name}}:</span>
                    <span>{{value}}</span>
                    <br/>
                    {{#if @last}}</span>{{/if}}
{{/eachSubAttribute}}{{/ifArray}}</script>

