<script id='latest-studies-template' type='text/x-handlebars-template'>
    {{#each this.hits}}
        <li>
            <a href="studies/{{accession}}">{{title}}</a>
            <span class="browse-study-accession">{{accession}}
            {{#ifCond isPublic '==' false}}
            <i class="fas fa-lock"></i>
            {{/ifCond}}</span>
        </li>
    {{/each}}
</script>


