<script id='latest-studies-template' type='text/x-handlebars-template'>
    {{#each this.hits}}
    {{#if @first}}<ul id="latestList">{{/if}}
        <li>
            <a href="studies/{{accession}}">{{title}}</a>
            <span class="browse-study-accession">{{accession}}</span>
        </li>
        {{#if @last}}<span class="more"><a href="studies">more...</a></span></ul>{{/if}}
    {{/each}}
</script>