
ul#search-results {
    list-style-type: none;
    width: 80%;
}
ul.pagination  {
    width: 80%;
    text-align: right;
}

ul#search-results li {
    padding: 15px 0;
}
.search-result span.accession:after {
    content: ']';
    margin-left: 2px;
}

.search-result span.accession:before {
    content: '[';
    margin-right: 2px;
}

.search-result span.accession {
    font-size: 80%;
    color: rgb(107, 168, 197);
    white-space: nowrap;
}

.search-result .meta-data {
    color: #999;
    font-size: 9pt;
}

.search-result .meta-data span:not(:first-child):before {
    content: ' \25AA';
    color: #6BA8C5;
    padding: 10px;
}

