#bs-title-header {
    position: relative;
    min-height: 160px;
    text-align: center;
    display: table;
    width: 100%;
}

.ribbon, .molecule, .twist, .flask {
    font-family: 'EBI-Conceptual';
    color: #75c8ec;
    opacity: 0.2;
    font-size: 180px;
    position: absolute;
    line-height: 160px;
    height: 160px;
}

.ribbon {

}
.molecule {
    text-align: right;
    width: 72%;
}
.twist {
    text-align: right;
    font-size: 150pt;
    opacity: 0.1;
    color: #ee1c25;
    width: 100%;
    z-index: -1000;
}
.flask {
    font-family: 'EBI-Functional';
    font-size: 140px;
    text-align: center;
    width: 73%;
    color: #58585a;
    opacity: 0.1;
    -webkit-animation-name: shake;
    -webkit-animation-duration: 30s;
    -webkit-transform-origin:50% 50%;
    -webkit-animation-iteration-count: infinite;
}
@-webkit-keyframes shake {
    0% { -webkit-transform: rotate(0deg); }
    96% { -webkit-transform: rotate(0deg); }
    97% { -webkit-transform: rotate(-3deg); }
    98% { -webkit-transform: rotate(3deg); }
    99% { -webkit-transform: rotate(-3deg); }
    100% { -webkit-transform: rotate(0deg); }

}



#tagline {
    display: table-cell;
    vertical-align: middle;
    color: #58585a;
}

.home-icon:before {
    color: #FFFFFF !important;
    font-size: 22pt !important;
    vertical-align: middle;
    border: 1px solid #22AAE2;
    border-radius: 50%;
    background: #0378BB;
    padding: 14px;
    margin-right: 0px !important;
    vertical-align: initial;
    box-shadow: inset 0 0 0 2px white;
}

.home-icon {
    color: #0378BB !important;
}
.home-icon-small:before {
    font-size: 12pt !important;
    vertical-align: middle;
    border-radius: 1000px;
    padding: 8px;
}

#projectsIcon:before {
    color: #7882CE;
    border: 1px solid #7882CE;
    background: #D2D6F6;
}

#moreProjects {
    float: right;
    font-size: 10pt;
    background-color: #1b78bb;
    padding: 2pt 3pt;
    border-radius: 3pt;
    line-height: 10pt;
}

#moreProjects a {
    color: white;
    border: none;
}

#studiesIcon:before {
    color: #2BA35F;
    border: 1px solid #2BA35F;
    background: #CDF7DF;
}

#linksIcon:before {
    color: #0378bc;
    border: 1px solid #0378bc;
    background: #e3f3fb;
}

#lastUpdateIcon:before {
    color: #ee1d25;
    border: 1px solid #ee1d25;
    background: #ffe3e4;
}

#filesIcon:before {
    color: #ee1d25;
    border: 1px solid #ee1d25;
    background: #ffe3e4;
}


#latestIcon:before {
    color: #E4753D;
    border: 1px solid #E4753D;
    background: #FFEBD5;
}

#secondary {
    padding-bottom:36px;
}

#stats h5, #latest h5 {
    line-height: 36px;
    color: #555;
}

#latest {
    display: none;
}
#studyCountStats, #allProjects, #latestHeading, #fileCountStats, #linkCountStats, #lastUpdate {
    margin-top:20px;
}

#latestList li:before {
    /* content: "\25AA"; */
    color: #466B7D;
    padding-right: 10px;
}

#lastUpdateTime {
    font-size: 8pt;
    color: #aaa;
}

#latestList{
    padding-left: 20px;
}

ul#projectList{
    list-style: none;
}
ul#projectList li{
    float: left;
    min-height: 70px;
    min-width: 170px;
    line-height: 70px
}

ul#projectList li a{
    border:none;
}

#latestList li{
    list-style: square;
    margin-left: 20px;
    color: #466B7D;
    margin-bottom: 8pt
}

#latestList li a, #projectList li a{
    color: #267799
}

.icon {
    margin-right: 6px;
}
.browse-study-accession {
    font-size: 70%;
    padding: 5px;
    color: #9e9e9e;
    white-space: nowrap;
}

