#left-column {
    display: none;
}
ul#search-results {
    list-style-type: none;
    width: 80%;
    clear: both;
}

#search-results-query {
    float:left;
}

ul#search-results li {
    padding: 16pt 0;
}

.collection-container {
    margin: 1.5em 0pt;
    text-align: center;
}

.search-result .meta-data {
    color: #9e9e9e;
    font-size: 9pt;
    margin-top:3pt;
}

.search-result .meta-data span:not(:first-child):before {
    content: ' \25AA';
    color: #9e9e9e;
    padding: 10px;
}

.collection-logo {
    padding-right:15px;
    height: 50px;
    border: 0px !important
}
.collection-logo img{
    height: 50px !important;
    padding-right:5px;

}

#sort-by {
    width:auto;
    font-size: 9pt;
}
#sort-by-div {
    float: right;
    font-size: 9pt;
}
#sorting-links {
    display:inline-table;
}
#pager {
    float: left;
}

#sort-desc {
    border-right:0 !important;
}


#sorting-links a {
    padding: 10px 13px;
    border: 1px solid #999999;
}

#sorting-links a.selected {
    background-color: #75c8ec;
    color: white;
}

#facets {
    margin-top:10pt;
    border-right: 1px solid #f0f0f0;
}

.facet-value {
    margin: 0;
    cursor: pointer;
}

.facet-name, .facet-binary {
    font-size: 11pt;
    padding-top: 1em;
    line-height: 11pt;
    padding-bottom: 0.5em;
    cursor: pointer;
}

.facet-name:not(:first-child), .facet-binary:not(:first-child)  {
    padding-top: 1.5em;
}
.facet-name:not(:first-child):before,.facet-binary:not(:first-child):before {
    border-top: 1px solid #f0f0f0;
    content: '';
    margin-bottom: 1.5em;
    display: block;
    width: 40%;
    margin-left: 30%;
}

.facet-binary label.facet-label {
    color: #222;
    width:100%;
    font-size: 10.5pt;
}

.facet-more {
    float: right;
    font-size: 8pt;
    color: #58585a;
}

.top20 {
    color: #575759;
    font-size: 6pt;
    display: block;
    margin: 3px 0 0 2px;
    text-indent: -2pt;

}

label.facet-label {
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    color: #267799;
    line-height: inherit;
    font-size: 11pt;
    text-indent: -12pt;
    display: table-cell;
    width: 90%;
}


#facet ul.menu li {
    margin-top: 0.2em;
    display: table;
    min-width: 100%;
}

#facet ul.menu li:hover {
    background-color: #f0f0f0;
}

#facet_funding_agency .facet-label {
    text-transform: uppercase;
}

.facet-label input{
    margin: 0;
    vertical-align: middle;
}

.facet-hits {
    color: #aaaaaa;
    font-size: xx-small;
    text-align: right;
    margin-top: 3pt;
    display: table-cell;
    vertical-align: initial;
}

label.facet-label span {
    width: 90%;
    word-break: break-word;
    display: inline-table;
    text-indent: 0pt;
}

.all-facet-hits {
    color: #aaaaaa;
    font-size: xx-small;
}

.update-icon:before {
    color: #FFFFFF !important;
    font-size: 16pt !important;
    vertical-align: middle;
    border: 1px solid #22AAE2;
    border-radius: 50%;
    background: #0378BB;
    padding: 12pt;
    margin-right: 0px !important;
    vertical-align: initial;
    box-shadow: inset 0 0 0 2px white;
    display: block;
    margin: 12pt 0 3pt 0;
    cursor: pointer;
}

.update-icon {
    color: #0378BB !important;
}

.update-button  {
    width:100%;
    text-align: center;
}

.query {
    color:#22aae2;
}

.content:before, .content:after {
    content: '...';
}

.content {
    font-size: 10pt;
    margin-top: 4pt;
}


.title a {
    color: #267799;
    font-size: 14pt
}

.authors {
    color: #777;
    font-size: 9pt;
    margin-bottom: 2pt;
}
.result-count {
    font-size: 9pt;
    color: #999;
    clear: both;
    display: block;
}

.facet-title {
    text-indent: -12pt;
    display: inline-block;
}

.facet-top {
    font-weight: normal;
    color: #aaaaaa;
    display: block;
    height:15pt;
    font-size: 7pt;
}
select {
    height: inherit;
    margin: inherit;
}

#facet-loader {
    z-index: 99999;
    padding:5px;
    height: auto;
    max-height: 20% !important;
    top:50%;
    left:50%;
    position: fixed;
    background-color:white;
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-clip: padding-box;
}

.fullscreen{
    z-index: 99999;
    padding:20pt;
    width: 90% !important;
    height: auto;
    max-height: 90% !important;
    top:5%;
    left:5%;
    position: fixed;
    background-color:white;
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-clip: padding-box;
    overflow: auto;
    text-align: center;
}

.blocker {
    z-index: 99998;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.allfacets ul {
    list-style-type: none;
    column-count: 4;
    padding:10pt;
    text-align: start;
}

.allfacets ul label.facet-label {
    text-indent: initial;
}

.allfacets ul label.facet-label span{
    display: inline;
}

#facet-search-button {
    cursor:pointer;
    margin:10pt;
    outline: none;
}

#facet-search {
    width:50%;
    margin:auto;
}
#close-facet-search {
    position: fixed;
    right: 6%;
    top: 6%;
    color: #999;
    font-size: 10pt;
    padding: 5pt;
    font-weight: bold;
    background-color: #ffffffCC;
    border: 0;
}
#facet-filters {
    margin-bottom: 1em;
    font-size:9pt;
    display: block;
}

.selected-facet-values {
    display: inline-block;
    margin-bottom: 0.5em;
    margin-right: 2em;
    color: #575759;
}
.selected-facet-value {
    border: 1px solid #aaaaaa;
    line-height: normal;
    border-radius: 2pt;
    background-color: #f0f8ff;
    display: inline-table;
    vertical-align: middle;
    padding: 0px;
    margin-bottom: 3pt;
}

.facet-filter-label {
    display: inline-table;
    vertical-align: middle;
    padding: 0px;
    margin-bottom: 3pt
}

.facet-filter-value {
    margin-left: 3pt;
    padding: 0pt 2pt 2pt 2pt;
    color: #575759;
    display: table-cell;
}
.drop-facet , .drop-facet:hover {
    border-left: 1px solid #aaaaaa;
    padding: 0pt 2pt;
    background-color: #aaaaaa;
    color: white;
    display: table-cell;
    cursor: pointer;
}

.toggle-facet {
    color:#575759;
    min-width: 7pt;
    display: inline-block;
    text-indent: -12pt;
}

ul#facet_facet\2e method_name li label span {
    word-break: break-all;
}
