#left-column {
    display: none;
}
ul#search-results {
    list-style-type: none;
    width: 80%;
    clear: both;
}

ul#search-results li {
    padding: 15px 0;
}
.search-result span.accession:after {
    content: ']';
    margin-left: 2px;
}

.search-result span.accession:before {
    content: '[';
    margin-right: 2px;
}

.search-result span.accession {
    font-size: 80%;
    color: rgb(107, 168, 197);
    white-space: nowrap;
}

.search-result .meta-data {
    color: #999;
    font-size: 9pt;
}

.search-result .meta-data span:not(:first-child):before {
    content: ' \25AA';
    color: #6BA8C5;
    padding: 10px;
}

.project-logo {
    padding-right:15px;
    height: 50px;
    border: 0px !important
}
.project-logo img{
    height: 50px !important;
    padding-right:5px;

}

#sort-by {
    width:auto;
    font-size: 0.875rem;
}
#sort-by-div {
    float: right;
    font-size: 0.875rem;
}

#pager {
    float: left;
}

#sort-desc {
    border-right:0 !important;
}


#sorting-links a {
    padding: 11px 12px;
    border: 1px solid #999999;
    height: 2.4375rem;
}

#sorting-links a.selected {
    background-color: #75c8ec;
    color: white;
}
