apiVersion: apps/v1
kind: Deployment
metadata: 
  name: ui
spec:
  replicas: $REPLICAS
  selector:
    matchLabels:
      app: ui
  template:
    metadata:
      labels:
        app: ui
    spec:
      securityContext:
        runAsUser: $RUN_AS_USER
        runAsGroup: $RUN_AS_GROUP
      imagePullSecrets:
        - name: registry-credentials
      containers:
      - name: ui
        image: $DOCKER_IMAGE
        env:
        - name: proxy_host
          value: "$PROXY_HOST"
        - name: proxy_port
          value: "$PROXY_PORT"
        ports:
        - containerPort: 8080
        imagePullPolicy: Always
        volumeMounts:
        - name: config-volume
          mountPath: /application.properties
          subPath: application.properties
        - name: nfs-volume
          mountPath: /nfs/biostudies
          subPath: $SUBPATH
          readOnly: true
      volumes:
        - name: config-volume
          configMap:
            name: external-config
        - name: nfs-volume
          nfs:
            server: $NFS_SERVER
            path: $NFS_PATH

---

kind: Service
apiVersion: v1
metadata:
  name: ui
spec:
  # externalTrafficPolicy: Local
  selector:
    app: ui
  ports:
    - port: 8080
      nodePort: 30080
      name: http
  type: NodePort
